
.footer {
    clear: both;
    position: relative;
    text-align: center;
}

.socials {
    display: inline-block;
}

.li {
    margin-right: 10px;
}

.btm {
    height: 30px;
    font-size: 15px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
}

.right {
    margin-top: 5px;
    position: absolute;
    left: 20%;
}

.left {
    margin-top: 5px;
    position: absolute;
    right: 20%;
    color: rgb(0, 6, 111);
    text-decoration: underline;
}

@media (max-width: 800px) {
    .right {
        left: 0;
    }
    .left {
        right: 0;
    }
}