
.projects {
}

.project-title {
    text-align: center;
}

.project {
    background-color: rgba(255,182,121,.2);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    grid-gap: 10px;
    min-height: 300px;
    padding-left: 20%;
    padding-right: 20%;
}

.img-col {
    height: 200px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack:center;
    -moz-box-align: center;
    display:-webkit-box;
    transform: translateY(25%);
}

.project-img {
    position: absolute;
    width: 200px;
    height: 200px;
}

.project-name {
    font-size: 30px;
    color: rgba(255,182,121,1);
}

#spacer-project {
    height: 50px;
}

.btn-group-proj {
    padding-bottom: 15px;
    border-radius: 25px;
}

.btn-proj {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
    height: 35px;
    width: 120px;
    border: none;
    background-color: rgba(59, 59, 59, 0.9);
    transition: transform 0.04s ease-out, box-shadow 0.04s ease-out;
    box-shadow: 0 2px 0 rgb(255, 182, 121);
}

.btn-left {
    border-right: 1px solid rgb(0, 0, 0);
}

.btn-proj:hover {
    background-color: rgb(65, 65, 65);
}

.btn-proj:active {
    box-shadow: 0 0 0 rgb(255, 182, 121);
    transform: translateY(2px);
}

@media (max-width: 1200px) {
    .project {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width: 850px) {
    .project {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 650px) {
    .project {
        grid-template-columns: repeat(1, 1fr); 
    }
    .project-img {
        position: sticky;
        width: 200px;
        height: 200px;
    }
    .img-col {
        padding-bottom: 20px;
    }
    .project-name {
        text-align: center;
    }
    .btn-group-proj {
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-box-pack:center;
        -moz-box-align: center;
        display:-webkit-box;
    }
    p {
        padding-left: 5%;
        padding-right: 5%;
    }
}