
.project-title {
    text-align: center;
}

.project {
    background-color: rgba(0, 6, 111, .1);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    grid-gap: 10px;
    min-height: 300px;
    padding-left: 20%;
    padding-right: 20%;
}

.img-col {
    height: 200px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack:center;
    -moz-box-align: center;
    display:-webkit-box;
    transform: translateY(25%);
}

.project-img {
    position: absolute;
    width: 300px;
    height: auto;
}

.project-name {
    font-size: 30px;
    color: rgb(0, 6, 111);
}

#spacer-project {
    height: 50px;
}

.btn-group-proj {
    padding-bottom: 15px;
    border-radius: 25px;
}

.btn-proj {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
    height: 35px;
    width: 120px;
    border: none;
    background-color: rgb(135, 135, 135);
    transition: transform 0.04s ease-out, box-shadow 0.04s ease-out;
    box-shadow: 0 2px 0 rgb(0, 6, 111);
}

.btn-left {
    border-right: 1px solid rgb(0, 0, 0);
}

.btn-proj:hover {
    background-color: rgb(125, 125, 125);
}

.btn-proj:active {
    box-shadow: 0 0 0 rgb(0, 6, 111);
    transform: translateY(2px);
}

@media (max-width: 1200px) {
    .project {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 850px) {
    .project {
        grid-template-columns: repeat(1, 1fr); 
        padding-left: 0;
        padding-right: 0;
    }
    .project-img {
        position: sticky;
        width: 200px;
        height: 200px;
    }
    .img-col {
        padding-bottom: 20px;
    }
    .project-name {
        text-align: center;
    }
    .btn-group-proj {
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-box-pack:center;
        -moz-box-align: center;
        display:-webkit-box;
    }
    p {
        padding-left: 5%;
        padding-right: 5%;
    }
}