
.snippet {
    background-color: rgba(0, 6, 111, .1);
    font-size: 30px;
    height: 60px;
    width: 350px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 0 10px rgb(112, 112, 112, .2);
    text-decoration: none;
    color: rgb(0, 6, 111);
}

@keyframes anim {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-110%);}
}

@keyframes animbot {
    0% {transform: translateY(110%);}
    100% {transform: translateY(0%);}
}

.main {
    position: absolute;
    padding-top: 10px;
}

.bottom {
    transform: translateY(110%);
}

@media (max-width: 400px) {
    .snippet {
        width: 35vh;
        font-size: 20px;
        height: 35px;
        padding-bottom: 10px;
    }
}
