
.App {
	margin:0; 
	padding:0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-content: flex-start;
	justify-content: space-between;
}

.menu {
	position: absolute;
  	top: 0;
}

#tsparticles {
	z-index: 0;
}

#spacer {
	height: 0;
}

@media (max-width: 1500px) {
	#spacer {
		height: 100px;
	}
}